<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plantel</title>
    {% load static %}
    <link rel="icon" href="{% static 'img/estrella.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.rtl.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/gotop.css' %}">
    
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{% static 'img/estrella.png' %}" alt="" width="64" height="64">
                Club Estrella de Macul
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'EstrellaMacul' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Plantel' %}">Plantel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Historia' %}">Historia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'Tienda' %}">Tienda</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{% static 'img/user.png' %}" alt="Usuario" width="32" height="32">
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            {% if request.session.usuario_rut %}
                                <li><a class="dropdown-item" href="{% url 'Perfil' %}">Perfil</a></li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar Sesión</a></li>
                            {% else %}
                                <li><a class="dropdown-item" href="{% url 'IniSe' %}">Iniciar Sesión</a></li>
                                <li><a class="dropdown-item" href="{% url 'Formulario' %}">Registrarse</a></li>
                            {% endif %}
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav><br>
    <main>

        <div class="text-center mb-3">
            <a class="btn btn-warning mx-2" href="#arqueros">Porteros</a>
            <a class="btn btn-warning mx-2" href="#defensas">Defensas</a>
            <a class="btn btn-warning mx-2" href="#mediocampistas">Mediocampistas</a>
            <a class="btn btn-warning mx-2" href="#delanteros">Delanteros</a>
            <a class="btn btn-warning mx-2" href="#cuerpo-tecnico">Cuerpo Técnico</a>
        </div>

        <div class="container">
            <div class="row">
                <div class="col">
                    <center><h1 class="custom-margin">Plantel de Jugadores</h1></center>
                </div>
            </div>
        </div><br>

        <div class="container">
            <div class="row">
                <!-- Arqueros -->
                <div id="arqueros" class="col-md-12">
                    <center><h2>Arqueros</h2></center>
                </div><br>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/buffon.png' %}" class="card-img-top" alt="Buffon">
                        <div class="card-body">
                            <h5 class="card-title"><center>Buffon</center></h5>
                            <p class="card-text"><center>46 años</center></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/lev.png' %}" class="card-img-top" alt="Lev Yashin">
                        <div class="card-body">
                            <h5 class="card-title"><center>Lev Yashin</center></h5>
                            <p class="card-text"><center>95 años</center></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/iva.png' %}" class="card-img-top" alt="Ivarov">
                        <div class="card-body">
                            <h5 class="card-title"><center>Ivarov</center></h5>
                            <p class="card-text"><center>47 años</center></p>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="row">
                <!-- Defensas -->
                <div id="defensas" class="col-md-12">
                    <center><h2>Defensas</h2></center>
                </div><br>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/val.png' %}" class="card-img-top" alt="Valeny">
                        <div class="card-body">
                            <h5 class="card-title"><center>Valeny</center></h5>
                            <p class="card-text"><center>49 años</center></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/jar.png' %}" class="card-img-top" alt="Jaric">
                        <div class="card-body">
                            <h5 class="card-title"><center>Jaric</center></h5>
                            <p class="card-text"><center>56 años</center></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/str.png' %}" class="card-img-top" alt="Stremer">
                        <div class="card-body">
                            <h5 class="card-title"><center>Stremer</center></h5>
                            <p class="card-text"><center>45 años</center></p>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="row">
                <!-- Mediocampistas -->
                <div id="mediocampistas" class="col-md-12">
                    <center><h2>Mediocampistas</h2></center>
                </div><br>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/dod.png' %}" class="card-img-top" alt="Dodo">
                        <div class="card-body">
                            <h5 class="card-title"><center>Dodo</center></h5>
                            <p class="card-text"><center>46 años</center></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/iou.png' %}" class="card-img-top" alt="Iouga">
                        <div class="card-body">
                            <h5 class="card-title"><center>Iouga</center></h5>
                            <p class="card-text"><center>50 años</center></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/esp.png' %}" class="card-img-top" alt="Espimas">
                        <div class="card-body">
                            <h5 class="card-title"><center>Espimas</center></h5>
                            <p class="card-text"><center>47 años</center></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/xim.png' %}" class="card-img-top" alt="Ximelez">
                        <div class="card-body">
                            <h5 class="card-title"><center>Ximelez</center></h5>
                            <p class="card-text"><center>47 años</center></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/mina.png' %}" class="card-img-top" alt="Minanda">
                        <div class="card-body">
                            <h5 class="card-title"><center>Minanda</center></h5>
                            <p class="card-text"><center>52 años</center></p>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="row">
                <!-- Delanteros -->
                <div id="delanteros" class="col-md-12">
                    <center><h2>Delanteros</h2></center>
                </div><br>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/donra.png' %}" class="card-img-top" alt="Donraldinho">
                        <div class="card-body">
                            <h5 class="card-title"><center>Donraldinho</center></h5>
                            <p class="card-text"><center>20 años</center></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/mezi.png' %}" class="card-img-top" alt="Leo Messi">
                        <div class="card-body">
                            <h5 class="card-title"><center>Leo Messi</center></h5>
                            <p class="card-text"><center>36 años</center></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/ronaldo.png' %}" class="card-img-top" alt="Ronaldo">
                        <div class="card-body">
                            <h5 class="card-title"><center>Ronaldo</center></h5>
                            <p class="card-text"><center>39 años</center></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/cas.png' %}" class="card-img-top" alt="Castolo">
                        <div class="card-body">
                            <h5 class="card-title"><center>Castolo</center></h5>
                            <p class="card-text"><center>48 años</center></p>
                        </div>
                    </div>
                </div>
            </div><br>

            <div class="row">
                <!-- Cuerpo Técnico -->
                <div id="cuerpo-tecnico" class="col-md-12">
                    <center><h2>Cuerpo Técnico</h2></center>
                </div><br>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/gua.png' %}" class="card-img-top" alt="Ent">
                        <div class="card-body">
                            <h5 class="card-title"><center>Pep Guardiola</center></h5>
                            <p class="card-text"><center>Entrenador</center></p>
                            <p class="card-text"><center>53 años</center></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{% static 'img/mou.png' %}" class="card-img-top" alt="Ter">
                        <div class="card-body">
                            <h5 class="card-title"><center>José Mourinho</center></h5>
                            <p class="card-text"><center>Entrenador</center></p>
                            <p class="card-text"><center>61 años</center></p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="card" style="width: 18rem;">
                      <img src="{% static 'img/js.png' %}" class="card-img-top" alt="Doc">
                      <div class="card-body">
                          <h5 class="card-title"><center>Jonathan Sierra</center></h5>
                          <p class="card-text"><center>Doctor de Campo</center></p>
                          <p class="card-text"><center>45 años</center></p>
                      </div>
                  </div>
              </div>
            </div>
        </div>

        <div class="go-top-container">
          <img src="{% static 'img/estrellita.png' %}" alt="Go to top" class="go-top-image">
      </div>
      
    </main><br>
    <footer>
    
        <div class="elementor-widget-container"> 
            <div class="row justify-content-center">
                <div class="col-md-12"> 
                    <div style="background-color: #f8c701; border-radius: 0px; padding: 50px;"> 
                        <center class="image-spacing">
                            <img src="{% static 'img/adi.png'  %}" alt="" width="100" height="100">
                            <img src="{% static 'img/fruna.png'  %}" alt="" width="100" height="100">
                            <img src="{% static 'img/poly.png'  %}" alt="" width="100" height="100">
                            <img src="{% static 'img/soft.png'  %}" alt="" width="100" height="100">
                            
                        </center>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="elementor-widget-container"> 
            <div class="row justify-content-center">
                <div class="col-md-12"> 
                    <div style="background-color: #000000; border-radius: px; padding: 50px;"> 
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                              <li class="breadcrumb-item"><a href="{% url 'LisUs' %}">Herramientas de Administrador</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    
    </footer>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/gotop.js' %}"></script>
    
    

</body>

</html>
